<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>You do not have permission to access this page</title>
    <link rel="shortcut icon" href="{{url_for('static', filename='favicon.ico')}}" type="image/x-icon">
    <link rel="stylesheet" href="{{url_for('static', filename='w3.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
<body class="w3-display-container w3-theme">
    <h1 class="w3-center">You do not have permission to access this page</h1>
    <h3 class="w3-center">You can <a class="und" href="{{url_for('home')}}">go home</a> or you can <a class="und" href="#">submit an error report</a></h3>
    <div class="w3-center">
        <img src="{{ url_for('static', filename='favicon.ico') }}" alt="image" class="err-img">
    </div>
</body>
</html>